body { 
	background: #eee;
	margin: 0;
}

footer {
	position: fixed;
	bottom:0;
	text-align: center;
	width: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	color: rgba(255, 255, 255, 0.7);
	background: #f44336;
	padding: 10px;
}
header {
	position: fixed;
	top: 0;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #fff;
	padding: 15px 20px 20px 20px;
	box-shadow: 0 5px 15px rgba(0,0,0,0.10), 0 5px 5px rgba(0,0,0,0.10);
}
header img#logo{
	display: inline-block;
	height: 80px;
	float:left;
}
header h1#appTitle{
	display: inline-block;
	font-family: 'Arvo',serif;
	font-weight: 400;
	font-size: 14;
	color: #555;
	float:left;

}